/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/*  -----------------------------------------    CHAT COMPONENTS    ----------------------------------------- */

.chat-main-component {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-left:5px;
    height: 100%;
}

.chat-messaging-component {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-self: center;
}








/*  -----------------------------------------    CHAT INPUT    ----------------------------------------- */
/*  -----------------------------------------    CHAT LISTING    ----------------------------------------- */
.chat-list {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: gray;
    border-color: black;
    bordedr-radius: 5px;
    float: left;
}

.chat-listing {
}

.load-conversation-button {
    background: #2B50EC;
    color: #FFFFFF;
    border-radius: 15px;
    border-style: solid;
    padding: 4px;
    margin: 10px 20px;
}



    .load-conversation-button:hover {
        background: #5b79f1;
    }

/*  -----------------------------------------    CHAT MESSAGES    ----------------------------------------- */
@media screen and (min-width:993px) {
    .chat-message-list-container {
        height: 550px;
        /*max-height: 650px;*/
        overflow-y: auto;
        justify-self: center;
    }
}

@media screen and (max-width:992px) {

    .chat-message-list-container {
        height: 500px;
        overflow-y: auto;
        justify-self: center;
    }
}



.chat-message-list {
    /* display:flex;
    flex-direction:column;*/
}



.chat-message-box {
    background: #108670;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 10px;
}
